/* Cambios generales */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

/* Barra de navegaci贸n y bot贸n */
.containerMenu,
header div {
    display: none;
}

/* Bot贸n Contact */
.btnContact {
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-size: 13px;
}

/* Footer */
footer {
    background-color: #1E1E26;
}

footer p {
    color: #8C8C94;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



.containerIntro {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contentIntro {
    text-align: right;
    margin-top: 60px;
    width: fixed;
}

.contentIntro h1 {
    font-size: 50px;
    color: #232C50;

}

.contentIntro p {
    font-size: 16px;
    margin: 20px 0px 20px 0px;
}

#containerWhat {
    display: flex;
    flex-direction: column;
    background-color: #3CDDF3;
    color: #FFFFFF;
    margin: 20px 0px 20px 0px;
    padding: 40px 70px;
    align-items: center;

}

#containerWhat .leftSide {
    font-size: 36px;
    text-align: left;
    width: 50%;
}

#containerWhat .rightSide {
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    text-align: left;
    width: 50%;
}

#featuresSection div.feature div.numbers {
    background-color: #8B48BF;
    font-weight: 600;
    display: inline;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 50px;

}

#featuresSection div.feature div.featureTitle {
    background-color: rgba(139, 72, 191, 0.3);
    padding: 8px;
    padding-left: 0px;
    border-radius: 50px 0px 0px 50px;
    margin-left: 20px;
}

#featuresSection div.feature h3 {
    display: inline;
    color: #323851;
    font-size: 16px;
}

#featuresSection div.feature p {
    color: #B3B2B7;
    padding: 28px;
}

#bestOfTheMonth {
    padding-bottom: 70px;
}

#bestOfTheMonth h2 {
    text-align: center;
    color: #242E53;
}

#bestOfTheMonth img {
    height: 70px;
    width: 70px;
    position: absolute;
    top: -40px;
}

#bestOfTheMonth div {
    margin: 58px 72px 74px 74px;
    padding: 27px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 30px;
}

#bestOfTheMonth .hideCard {
    display: none;
}

#bestOfTheMonth h4 {
    padding: 21px 0px 21px 0px;
    color: #3F4868;
}

#bestOfTheMonth p {
    text-align: center;
    color: #B9B9C1;
}


#moreButton {
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

@media(min-width: 768px) {

    header {
        justify-content: space-between;
    }

    header div {
        display: flex;
    }

    /* Barra de navegaci贸n */
    .containerMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menuHeader {
        width: 450px;
        display: flex;
        justify-content: space-around;
    }

    .menuHeader li {
        list-style-type: none;
    }

    .menuHeader li a {
        text-decoration: none;
        color: #242E52;
        font-size: 13px;
    }

    .menuHeader li a:hover {
        color: rgba(36, 46, 82, 0.6);
    }

    /* Menu Hamburguesa */
    #menuBurger {
        display: none;
    }

    .containerIntro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px;
    }

    #containerWhat {
        flex-direction: row;
        justify-content: space-between;
        background-color: #8B48BF;
    }

    #containerWhat h2 {
        margin: auto;
        width: auto;
        margin-right: 100px;
        font-size: 36px;
    }

    #containerWhat p {
        margin: -10px;
        width: -10px;
        font-size: 16px;
    }

    #featuresSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 70px;
        background-color: #FAFAFA;
    }

    #featuresSection .feature {
        max-width: 600px;
        min-width: 370px;
    }

    #featuresSection .featureFirstLine {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    #featuresSection div.feature div.featureTitle {
        background-color: transparent;
        margin-top: 40px;
    }

}

#TitleBestOfTheMonth {
    text-align: center;
    margin-bottom: 40px;
}
#bestOfTheMonth {
    display: flex;
}

#bestOfTheMonth .hideCard {
    display: flex;
}

#moreButton {
    display: none;
}
}