@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

/* Estilos fonts
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Cambios generales */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.logo {
    width: 107px;
}

/* Barra de navegación y botón */   
.containerMenu, header div {
    display: none;
}

/* Main*/

/* Encabezado principal */
.containerIntro {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.containerIntro img {
    margin: 10px;
    width: 400px;
    height: 341px;
}

.contentIntro {
    text-align: right;
    margin: 60px 0px 0px 25px;
    width: 400px;
}

.contentIntro h1 {
    font-size: 50px;
    color: #232C50;
    font-weight: 700;
    line-height: 57px;
}

.contentIntro p {
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0px 30px 0px;
    line-height: 26px;
}

/* Botón Contact */
.btnContact {
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

/* Container What */
#containerWhat {
    display: flex;
    flex-direction: column;
    background-color: #3CDDF3;
    color: #FFFFFF;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

#containerWhat h2 {
    margin: 20px 0px 20px 0px;
    font-size: 36px;
    line-height: 41.26px;
}

#containerWhat p {
    margin: 30px 50px 20px 0px;
    font-size: 16px;
    font-weight: 500;
}

/* Pre Footer */
#preFoot {
    background-color: #3CDDF3;
    display: flex;
    flex-direction: column;
    padding: 40px 70px 40px 70px;
    align-items: center;
}

#preFoot h2 {
    color: #FFFFFF;
    text-align: center;
    line-height: 47.84px;
    font-size: 40px;
    width: 393px;
    height: 96px;
}

#goForIt {
    width: 134px;
    height: 44px;
    background-color: #232C50;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.25);
}

/* Footer */
footer {
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #8C8C94;
}

footer p {
    font-size: 12.5px;
}

/* Formulario */
form {
    margin: 30px 0px 30px 0px;
}

#email {
    width: 308px;
    height: 44px;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    margin: 5px;
}

#email::placeholder {
    font-weight: 600;
    color: #A0A0A0;
    padding-left: 10px;
}

/* Botón Go */
#btnGo {
    width: 63px;
    height: 42px;
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

/* Navegación Footer */
footer div {
    display: flex;
    width: 344px;
    justify-content: space-between;
}

.menuFooter {
    list-style: none;
    padding: 0;
}

.menuFooter li {
    margin: 10px;
}

.menuFooter li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Container Redes y Logo */
.containerDoble {
    display: flex;
    flex-direction: column;
}

.containerDoble .logo {
    align-self: center;
    margin-bottom: 30px;
}

/* Redes */
.containerRedes {
    display: flex;
}

.containerRedes a {
    margin: 30px;
}

@media(min-width:768px) {

    /* Header */
    header {
        justify-content: space-between;
        margin: 50px 150px 50px 150px;
    }
    
    header div {
        display: flex;
    }

    header .btnContact {
        box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.25);
    }

    /* Barra de navegación */   
    .containerMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menuHeader {
        width: 450px;
        display: flex;
        justify-content: space-around;
    }

    .menuHeader li {
        list-style-type: none;
    }

    .menuHeader li a {
        text-decoration: none;
        color: #242E52;
        font-size: 13px;
        font-weight: 500;
    }

    .menuHeader li a:hover {
        color: rgba(36, 46, 82, 0.6);
    }

    /* Menu Hamburguesa */
    #menuBurger {
        display: none;
    }

    /* Main*/

    /* Encabezado principal */
    .containerIntro {
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 100px 80px 140px;
    }

    .contentIntro {
        width: 500px;
    }

    .containerIntro img {
        width: 540px;
        height: 461px;
    }

    /* Container What */
    #containerWhat {
        flex-direction: row;
        justify-content: center;
        background-color: #8B48BF;
    }

    #containerWhat h2 {
        width: 500px;
        margin: 40px;
    }

    #containerWhat p {
        width: 450px;
        margin: 40px;
    }

    /* Pre Footer */
    #preFoot {
        flex-direction: row;
        justify-content: center;
        background-color: #8B48BF;
    }

    #preFoot h2 {
        text-align: left;
        width: 393px;
        margin: 0px;
        padding: 0px;
    }

    #goForIt {
        color: #8B48BF;
        background-color: #FFFFFF;
    }

    /* #preFoot {
        background-color: #3CDDF3;
        display: flex;
        flex-direction: column;
        padding: 40px 70px 40px 70px;
        align-items: center;
    }
    
    #preFoot h2 {
        color: #FFFFFF;
        text-align: center;
        line-height: 47.84px;
        font-size: 40px;
        width: 324px;
        height: 192px;
    }
    
    #goForIt {
        width: 134px;
        height: 44px;
        background-color: #232C50;
        color: #FFFFFF;
        border: none;
        border-radius: 50px;
        box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.25);
    } */

    /* Footer */
    footer {
        flex-direction: row-reverse;
        position: relative;
        justify-content: space-around;
        padding: 50px 0px 50px 0px;
    }

    footer p {
        position: absolute;
        right: 50px;
        bottom: 40px;
    }

    /* Formulario */
    form {
        align-self: self-start;
        margin: 10px;
    }

    #email {
        width: 201px;
    }

    /* Container Redes y Logo */
    .containerDoble {
        flex-direction: column-reverse;
    }

    .containerDoble .logo {
        align-self: self-start;
        margin-bottom: 60px;
    }
    
    /* Redes */
    .containerRedes a {
        margin: 15px 5px 5px 5px;
    }
}